{% extends "base.html" %}

{% block content %}
<style>
    .contact-section {
        display: block;
        margin-top: 30px;
    }

    .member-card {
        background-color: #ffffffcc;
        border-left: 5px solid #4CAF50;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .member-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        background-color: #f9f9f9;
    }

    .member-name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .member-role {
        font-style: italic;
        font-size: 14px;
        color: #555;
        margin-bottom: 8px;
    }

    .email-link {
        color: #0066cc;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
    }

    .email-link:hover {
        text-decoration: underline;
    }

    .social-icons a {
        margin-right: 12px;
        font-size: 18px;
        color: #333;
        text-decoration: none;
    }

    .social-icons a:hover {
        color: #0077b5; /* LinkedIn hover */
    }

    .social-icons a.github:hover {
        color: #000000;
    }
</style>

<h2>Contact Us</h2>
<p>Feel free to reach out to our team for any queries, support, or collaboration:</p>

<div class="contact-section">
    <div class="member-card">
        <div class="member-name">K.swarna</div>
        <div class="member-role">Backend and Frontend Developer</div>
        <a class="email-link" href="mailto:kandha815@gmail.com">kandha815@gmail.com</a>
        <div class="social-icons">
            <a class="github" href="https://github.com/kandaswarna123" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/swarna-kanda-a9459a288/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

</div>
{% endblock %}
